.frame-shadow {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.crop-frame {
    position: absolute;
    top: 0;
    left: 0;
    outline: 1px dashed;
    outline-color: rgba(188, 188, 188, 0.5);
    cursor: pointer;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.3), 0 0 0 2px rgba(0, 0, 0, 0.3);
    transition: outline-color 0.6s;
}

.crop-frame:hover {
    outline-color: rgba(188, 188, 188, 1);
}
.crop-frame:hover span {
    outline-color: rgba(188, 188, 188, 1);
}

.crop-frame.move {
    cursor: move;
}

.crop-frame span {
    position: absolute;
    width: 7px;
    height: 7px;
    outline: 1px solid rgba(188, 188, 188, 0.5);
    transition: outline-color 0.6s;
}

.crop-frame span.n,
.crop-frame span.s {
    left: 50%;
}

.crop-frame span.n {
    top: 0;
    cursor: n-resize;
}

.crop-frame span.s {
    bottom: 0;
    cursor: s-resize;
}

.crop-frame span.w,
.crop-frame span.e {
    bottom: 50%;
}

.crop-frame span.w {
    left: 0;
    cursor: w-resize;
}

.crop-frame span.e {
    right: 0;
    cursor: e-resize;
}

.crop-frame span.nw {
    top: 0;
    left: 0;
    cursor: nw-resize;
}

.crop-frame span.ne {
    top: 0;
    right: 0;
    cursor: ne-resize;
}

.crop-frame span.se {
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.crop-frame span.sw {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
}